body.light-theme {
  --color-primary: #F8FAFC;
  --color-primary-2: #e0e4e9;
  --color-secondary: #fcf7ff;
  --color-secondary-2: #dfe2e68c;
  --bg-tertiary: #FFFFFF;
  
  --text-primary: #0F172A;
  --text-secondary: #475569;
  --text-tertiary: #64748B;
  --border-color: #CBD5E1;
}

body.dark-theme {
  --color-primary: #0B0F1A;
  --color-primary-2: #151c30;
  --color-secondary: #0F172A;
  --color-secondary-2: #0F172A;
  --bg-tertiary: #111827;
  
  --text-primary: #E5E7EB;
  --text-secondary: #9CA3AF;
  --text-tertiary: #6B7280;
  --border-color: #1F2937;
}