// Variables
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

:root {
  /* Colors */
  --color-primary-500: #6366F1;
  --color-tertiary--alpha-200: #6365f13f;
  --color-secondary-500: #0e48e9;
  --color-tertiary--alpha-100: #0e48e946;

  --color-tertiary--alpha-200: #a955f744;
  --color-tertiary--alpha-100: #dab3ff41;

  --color-primary--alpha-100: rgba(99, 102, 241, 0.1);
  --color-tertiary--alpha-100-2: rgba(168, 85, 247, 0.1);

  --color-tertiary--alpha-300: #a955f767;
  --color-tertiary--alpha-100: rgba(99, 102, 241, 0.1);
  
  --success: #22C55E;

  /* Variables */
  --max-width: 1200px;
  
  /* Transitions */
  --transition-fast: 150ms ease;
  --transition-normal: 300ms ease;
  --transition-slow: 500ms ease;
}