<section id="about-me" class="about-me section">
  <div class="about-me__content padding-top">
    <div class="anime-up">
      <h2 class="section__title">{{ 'about.title' | translate }}</h2>
      <div class="section__subtitle">
        {{ 'about.subtitle' | translate }}
        <span>{{ 'about.subtitle_2' | translate }}</span>
      </div>
      <p class="section__description">
        {{ 'about.description' | translate }}
      </p>

      <div class="about-me__soft-skills">
        @for (skill of about().softSkills; track skill.value) {
          <div class="soft-skill">
            <div class="soft-skill__value">{{ skill.value | translate }}</div>
            <div class="soft-skill__description">{{ skill.description | translate }}</div>
            
            @if (skill.obs) {
              <div class="soft-skill__obs">{{ skill.obs | translate }}</div>
            }
          </div>
        }
      </div>
    </div>

    <div class="about-me__content-code line">
      <div class="about-me__code-header">
        <div class="about-me__code-bullets">
          <span class="about-me__code-bullet"></span>
          <span class="about-me__code-bullet"></span>
          <span class="about-me__code-bullet"></span>
        </div>
        <div class="about-me__code-file">about-me.ts</div>
      </div>

      <div #editor class="ace-editor"></div>
    </div>
  </div>
</section>

