.footer {
  display: flex;
  justify-content: space-between;
  background: var(--color-primary);
  border-top: 1px solid var(--border-color);
  padding: 12px 0;
  margin-top: 60px;

  p {
    color: var(--text-tertiary);
  }

  strong {
    font-weight: 500;
  }
}
